.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.vscode
.replit
.env
.npmrc
.node-version
replit.nix
.bashrc
.github/workflows/ai-commit.yml
ideas 
server/