# Primero definir excepciones específicas
!server/plugins/CMI/Settings/Ranks.yml
# !server/plugins/NOMBRE_DEL_PLUGIN/**/*.yaml
# Ejemplo: !server/plugins/CMI/**/*.yml

# Luego excluir carpeta server (excepto lo definido arriba)
server/
server_test/
Documentation/
!server/plugins/
!server/plugins/CMI/
!server/plugins/CMI/Settings/

# Otros archivos y carpetas a ignorar
.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.vscode
.replit
.env
.npmrc
.node-version
replit.nix
.bashrc
.github/workflows/ai-commit.yml
ideas

# quartz
public
/quartz/.obsidian
quartz.config.ts.bak
passwords.json 